.guitar-quest-piece.container
  .panel.panel-default
    .panel-heading {{pieceCtrl.piece.exp}} points
    .panel-body
      h4 {{pieceCtrl.piece.name}}
      p {{pieceCtrl.piece.composer}}
      .row.actions
        .col-md-4
          iframe(
            ng-src="{{pieceCtrl.getSpotifySrc()}}"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
          )
        .col-md-4
          a.link-btn.btn.btn-default.btn-block(ng-href='{{pieceCtrl.piece.sheetMusicURL}}' target="_blank")
            div
              i.fa.fa-book.fa-3x
            div Get Sheet Music
        .col-md-4
          .link-btn.btn.btn-default.btn-block
            div
              i.fa.fa-video-camera.fa-3x
            div Request Private Lesson

      .row
        .col-xs-12
          p {{pieceCtrl.piece.description}}

      p To complete upload a video of you playing the piece below. The piece should be memorized, played with good technique, and played musically. Once submitted, we will review your video within 24 hours.

      .row.well.video-well
        .col-xs-12.text-center
          .select-video(ng-hide='pieceCtrl.videoSelected' ngf-select ngf-change="pieceCtrl.upload($file)")
            div
              i.fa.fa-upload.fa-5x
            h5 Select video to submit
          .loading.row.text-center(ng-show='pieceCtrl.videoSelected && !pieceCtrl.videoUploadSrc')
            h5 Uploading...
            .col-xs-8.col-xs-offset-2
              progressbar(
                max="100"
                value="pieceCtrl.progressPercentage"
              )
          .submission-successful.text-center(ng-show='pieceCtrl.videoUploadSrc')
            video.video-preview(controls)
            a(href='#') Submit a different video
