.guitar-quest-piece.container

  .row
    .col-md-12
      .clearfix
        h5.pull-left {{pieceCtrl.piece.name}} - {{pieceCtrl.piece.composer}}
        .points-to-next-level.pull-right <strong>30 / 100</strong> points
      .row
        .col-xs-12
          progressbar(
            animate="false"
            value="30"
          )
    .col-md-8
      .panel.panel-default.piece-panel(ng-class='{"panel-warning": pieceCtrl.userPiece.status === "submitted", "panel-success": pieceCtrl.userPiece.status === "graded"}')
        .video-panel-body.select-video.text-center(ng-hide='pieceCtrl.videoSelected' ngf-select ngf-change="pieceCtrl.upload($file)")
          div
            i.fa.fa-upload.fa-5x
          h5 Upload video submission
        .video-panel-body.loading.row.text-center(ng-show='pieceCtrl.videoSelected && !pieceCtrl.videoUploadSrc')
          h5 Uploading...
          .col-xs-8.col-xs-offset-2
            progressbar(
              max="100"
              value="pieceCtrl.progressPercentage"
            )
        .submission-successful.text-center(ng-show='pieceCtrl.videoUploadSrc')
          video.video-preview(controls)
          //- a(href='#') Submit a different video

      //- .panel.panel-default
      //-   .panel-heading
      //-     .panel-title Piece Info
      //-   .panel-body
      //-     //- strong PIECE INFO
      //-     .piece-composer <strong>Composer:</strong> {{pieceCtrl.piece.composer}}
      //-     .piece-era <strong>Musical Era:</strong> {{pieceCtrl.piece.era}}
      //-     p {{pieceCtrl.piece.description}}

      .panel.panel-default.piece-panel
        .panel-heading
          .panel-title Comments
        .list-group
          .list-group-item(ng-if='!pieceCtrl.userPiece.history || pieceCtrl.userPiece.history.length === 0') No comments yet.
          .list-group-item(
            ng-if='pieceCtrl.userPiece.history.length > 0'
            ng-repeat='historyItem in pieceCtrl.userPiece.history'
          )
            .history-item-details <strong>Danny Nelson</strong> <em>{{pieceCtrl.getTimeFromNow(historyItem.createdAt)}}</em>
            div(ng-if='historyItem.text') {{historyItem.text}}

        //- BELOW THIS POINT ONLY FOR INSTRUCTORS
        //- .btn.btn-default.btn-block.control-btn(ng-click='pieceCtrl.fakeUpload()') Submit Video

    .col-md-4
      .panel.panel-default
        .panel-body
          strong RECOMMENDED TUTORIALS
          ul
            li
              a Slurs
            li
              a Guide Fingers
            li
              a Memorizing music
            li
              a Playing Musically

      .panel.panel-default
        .panel-body
          strong REQUEST A PRIVATE LESSON
          .row
            .col-xs-3.text-info.text-right
              i.link-panel-icon.fa.fa-users.fa-3x
            .col-xs-9
              div Need help? Get a private video lesson from one of our teachers?
              a
                span View Teachers&nbsp;
                span.fa.fa-angle-double-right

      .panel.panel-default
        .panel-body
          strong BUY THE SHEET MUSIC
          .row
            .col-xs-3.text-info.text-right
              i.link-panel-icon.fa.fa-book.fa-3x
            .col-xs-9
              div Find every GuitarQuest level 1 piece in <em>Bridges (Preparatory Level)</em>
              a
                span Read More&nbsp;
                span.fa.fa-angle-double-right

      iframe(
        ng-src="{{pieceCtrl.getSpotifySrc()}}"
        width="100%"
        height="80"
        frameborder="0"
        allowtransparency="true"
      )
