//- register template for use for notifications
script(type="text/ng-template" id="notifications.html")
  gq-notifications

.gq-navbar
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-container
        //- .navbar-container
        .navbar-header
          button.navbar-toggle(type='button', ng-click='myCtrl.navbarVisible = !myCtrl.navbarVisible')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ng-if='!myCtrl.isLoggedIn()' ui-sref='guitarQuest.landing') GuitarQuest
          a.navbar-brand(ng-if='myCtrl.isLoggedIn()' ui-sref='guitarQuest.pieces') GuitarQuest
        .collapse.navbar-collapse(ng-class="{'navbar-menu-show': myCtrl.navbarVisible}")
          ul.nav.navbar-nav(
            ng-click='myCtrl.navbarVisible = !myCtrl.navbarVisible'
            ng-if='myCtrl.isLoggedIn()'
          )
            li.pieces(ng-class="{active: myCtrl.stateIncludes('guitarQuest.pieces')}")
              a(ui-sref='guitarQuest.pieces')
                span Pieces

            li.challenges(ng-class="{active: myCtrl.stateIncludes('guitarQuest.challenges')}")
              a(ui-sref='guitarQuest.challenges')
                span Challenges

            li.challenges(ng-class="{active: myCtrl.stateIncludes('guitarQuest.lessons')}")
              a(ui-sref='guitarQuest.lessons')
                span Lessons

            li(
              ng-if='myCtrl.hasRole("teacher")'
              ng-class="{active: myCtrl.stateIncludes('guitarQuest.submittedPieces')}"
            )
              a(ui-sref='guitarQuest.submittedPieces') Submitted

            li(
              ng-if='myCtrl.hasRole("teacher")'
              ng-class="{active: myCtrl.stateIncludes('guitarQuest.managePieces')}"
            )
              a(ui-sref='guitarQuest.managePieces') Manage Pieces

          ul.nav.navbar-nav.navbar-right(ng-if='myCtrl.isLoggedIn()')
            li
            li(uib-dropdown)
              a(
                uib-dropdown-toggle
                ng-click='myCtrl.markNotificationsRead()'
              )
                span.icon-link
                  i.fa.fa-bell.icon-link
                span.badge.notification-badge.badge-warning(ng-if='myCtrl.unreadNotificationCount > 0') {{myCtrl.unreadNotificationCount}}
              ul.dropdown-menu.notifications-dropdown(role="menu" aria-labelledby="single-button")
                gq-notifications(notifications='myCtrl.notifications')
            li(uib-dropdown)
              a(uib-dropdown-toggle)
                span.icon-link
                  i.fa.fa-user
                  i.caret
              ul.dropdown-menu(role="menu" aria-labelledby="single-button")
                li(role="menuitem")
                  a(href="#" ui-sref='guitarQuest.account') Account
                  a(href="#" ng-click='myCtrl.logout()') Logout
          .navbar-text.navbar-right(ng-if='myCtrl.isLoggedIn()')
            //- span.credit-summary.label.label-warning $20 Credit
            //- span.text-warning ${{myCtrl.getUser().credits}} lesson credits
            span.level-summary {{myCtrl.levelHelper.getLevelName(myCtrl.getUser().level)}}

          .nav.navbar-nav.navbar-right(ng-if='!myCtrl.isLoggedIn()')
            a.btn-flat.login(ui-sref='guitarQuest.logIn') Log in
            a.btn.btn-primary.navbar-btn(ui-sref='guitarQuest.signUp') Sign up
