.gq-navbar
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-container
        //- .navbar-container
        .navbar-header
          button.navbar-toggle(type='button', ng-click='ctrl.navbarVisible = !ctrl.navbarVisible')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ng-if='!ctrl.isLoggedIn()' ui-sref='guitarQuest.landing') GuitarQuest
          a.navbar-brand(ng-if='ctrl.isLoggedIn()' ui-sref='guitarQuest.pieces') GuitarQuest
        .collapse.navbar-collapse(ng-class="{'navbar-menu-show': ctrl.navbarVisible}")
          ul.nav.navbar-nav(
            ng-click='ctrl.navbarVisible = !ctrl.navbarVisible'
            ng-if='ctrl.isLoggedIn()'
          )
            li.pieces(ng-class="{active: ctrl.stateIncludes('guitarQuest.pieces')}")
              a(ui-sref='guitarQuest.pieces')
                span Pieces
                span.badge.link-badge.badge-warning(ng-if='ctrl.notificationCount.piece') {{ctrl.notificationCount.piece}}

            li.challenges(ng-class="{active: ctrl.stateIncludes('guitarQuest.challenges')}")
              a(ui-sref='guitarQuest.challenges')
                span Challenges
                span.badge.link-badge.badge-warning(ng-if='ctrl.notificationCount.challenge') {{ctrl.notificationCount.challenge}}

            li.challenges(ng-class="{active: ctrl.stateIncludes('guitarQuest.lessons')}")
              a(ui-sref='guitarQuest.lessons')
                span Lessons

            li(
              ng-if='ctrl.hasRole("teacher")'
              ng-class="{active: ctrl.stateIncludes('guitarQuest.submittedPieces')}"
            )
              a(ui-sref='guitarQuest.submittedPieces') Submitted

            li(
              ng-if='ctrl.hasRole("teacher")'
              ng-class="{active: ctrl.stateIncludes('guitarQuest.managePieces')}"
            )
              a(ui-sref='guitarQuest.managePieces') Manage Pieces

          ul.nav.navbar-nav.navbar-right(ng-if='ctrl.isLoggedIn()')
            li(dropdown)
              a.icon-link(dropdown-toggle)
                i.fa.fa-user
                i.caret
              ul.dropdown-menu(role="menu" aria-labelledby="single-button")
                li(role="menuitem")
                  a(href="#" ui-sref='guitarQuest.account') Account
                  a(href="#" ng-click='ctrl.logout()') Logout
          .navbar-text.navbar-right(ng-if='ctrl.isLoggedIn()')
            //- span.credit-summary.label.label-warning $20 Credit
            //- span.text-warning ${{ctrl.getUser().credits}} lesson credits
            span.level-summary {{ctrl.levelHelper.getLevelName(ctrl.getUser().level)}}

          .nav.navbar-nav.navbar-right(ng-if='!ctrl.isLoggedIn()')
            a.btn-flat.login(ui-sref='guitarQuest.logIn') Log in
            a.btn.btn-primary.navbar-btn(ui-sref='guitarQuest.signUp') Sign up
