.guitar-quest-music.container

  gq-notifications(category='piece')

  .row.previous-and-next
    .col-xs-12
      .pull-left(ng-if='ctrl.selectedLevel > 1')
        a(href='' ng-click='ctrl.goToPreviousLevel()')
          span.fa.fa-angle-double-left
          span &nbsp;Previous
      .pull-right(ng-if='ctrl.selectedLevel < ctrl.user.level')
        a(href='' ng-click='ctrl.goToNextLevel()')
          span Next&nbsp;
          span.fa.fa-angle-double-right
  .clearfix
    h5.pull-left Level {{ctrl.selectedLevel}}
    .points-to-next-level.pull-right <strong>{{ctrl.levelPoints.completed}} / {{ctrl.levelPoints.total}}</strong> points to next level
  .row
    .col-xs-12
      progressbar(
        animate="false"
        value="(ctrl.levelPoints.completed / ctrl.levelPoints.total) * 100"
      )

  .row
    .col-sm-4(ng-repeat='piece in ctrl.pieces')
      .piece-panel.panel.panel-default(
        ui-sref='guitarQuest.piece({pieceId: piece._id})'
        ng-class='{"panel-warning": piece.status === "submitted", "panel-success": piece.status === "graded"}'
      )
        .panel-heading.piece-heading.clearfix
          .pull-left <strong>30 / {{ctrl.level.getPointsPerPiece(piece.level)}}</strong> points
          .pull-right
            div(ng-if='piece.status === "submitted"')
              .panel-details Submitted
              i.fa.fa-upload
            div(ng-if='piece.status === "graded"')
              .panel-details Graded
              i.fa.fa-check
        progressbar.panel-progressbar(
          animate="false"
          value="30"
        )
        .panel-body
          h5.piece-title {{piece.name}}
          .piece-composer Composer: <em>{{piece.composer}}</em>
          .piece-era Musical Era: <em>{{piece.era}}</em>
        //- .panel-footer.text-center
        //-   progressbar(
        //-     animate="false"
        //-     value="30"
        //-   )
