.guitar-quest-account.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body
          h4.panel-title-lg Account
          .row
            .col-xs-12
              .row
                .col-xs-3
                  strong First Name:
                .col-xs-9
                  div(ng-if='!ctrl.editing.firstName')
                    span {{ctrl.user.firstName}}
                    span &nbsp;
                    a(href='' ng-click='ctrl.edit("firstName")') edit
                  form(
                    ng-if='ctrl.editing.firstName'
                    ng-submit='ctrl.save("firstName")'
                  )
                    .edit-input
                      input.form-control.edit-input(
                        ng-model='ctrl.form.firstName'
                        placeholder='John'
                      )
                    button.btn.btn-primary.btn-sm.btn-confirm-change(type='submit')
                      i.fa.fa-check
                    .btn.btn-default.btn-sm(ng-click='ctrl.cancelEdit("firstName")')
                      i.fa.fa-times

              hr.info-divider

              .row
                .col-xs-3
                  strong Last Name:
                .col-xs-9
                  div(ng-if='!ctrl.editing.lastName')
                    span {{ctrl.user.lastName}}
                    span &nbsp;
                    a(href='' ng-click='ctrl.edit("lastName")') edit
                  form(
                    ng-if='ctrl.editing.lastName'
                    ng-submit='ctrl.save("lastName")'
                  )
                    .edit-input
                      input.form-control.edit-input(
                        ng-model='ctrl.form.lastName'
                        placeholder='Smith'
                      )
                    button.btn.btn-primary.btn-sm.btn-confirm-change(type='submit')
                      i.fa.fa-check
                    .btn.btn-default.btn-sm(ng-click='ctrl.cancelEdit("lastName")')
                      i.fa.fa-times

              hr.info-divider
              .row
                .col-xs-3
                  strong Email:
                .col-xs-9
                  div(ng-if='!ctrl.editing.email')
                    span {{ctrl.user.email || 'New User'}}
                    span &nbsp;
                    a(href='' ng-click='ctrl.edit("email")') edit
                  form(
                    ng-if='ctrl.editing.email'
                    ng-submit='ctrl.save("email")'
                  )
                    .edit-input
                      input.form-control.edit-input(
                        ng-model='ctrl.form.email'
                        placeholder='name@example.com'
                      )
                    button.btn.btn-primary.btn-sm.btn-confirm-change(type='submit')
                      i.fa.fa-check
                    .btn.btn-default.btn-sm(ng-click='ctrl.cancelEdit("email")')
                      i.fa.fa-times
              hr.info-divider
              .row
                .col-xs-3
                  strong Password:
                .col-xs-9
                  span (Hidden)
                  span  &nbsp;
                  a(href='' ng-click='ctrl.changePassword()') edit
