.review-submitted-piece.container
  .col-md-12
    .clearfix
      h4.pull-left {{ctrl.piece.name}} - {{ctrl.piece.composer}} ({{ctrl.piece.era}})
      .points-to-next-level.pull-right <strong>{{ctrl.level.displayPiecePoints(ctrl.userPiece.grade, ctrl.piece.level)}}</strong> points
    .row
      .col-xs-12
        uib-progressbar(
          animate="false"
          value="ctrl.userPiece.grade * 100"
        )
  .col-md-8
    .panel.panel-default.piece-panel
      video.video-preview(controls)

    gq-piece-history(ng-if='ctrl.userPiece && ctrl.piece.level' user-piece='ctrl.userPiece' level='ctrl.piece.level')

  .col-md-4
    .panel.panel-default
      .panel-body.text-center.text-info
        uib-alert(type='danger' ng-if='ctrl.error' close='ctrl.error = null') {{ctrl.error}}
        h3.percent {{ctrl.percent}}%
        rating(
          ng-model='ctrl.userGrade'
          max='10'
          readonly='false'
          on-hover='ctrl.onHover(value)'
          on-leave='ctrl.onLeave()'
          state-on="'fa fa-star fa-2x'"
          state-off="'fa fa-star-o fa-2x'"
        )
        textarea.comment.form-control.margin-top(
          placeholder='Leave a comment...'
          ng-model='ctrl.comment'
        )
        span.margin-top.btn.btn-primary.btn-block(ng-click='ctrl.submitGrade()') submit
