.review-submitted-piece.container
  .col-md-12
    .clearfix
      h5.pull-left {{ctrl.piece.name}} - {{ctrl.piece.composer}} ({{ctrl.piece.era}})
      .points-to-next-level.pull-right <strong>{{ctrl.level.displayPiecePoints(ctrl.userPiece.grade, ctrl.piece.level)}}</strong> points
    .row
      .col-xs-12
        progressbar(
          animate="false"
          value="ctrl.userPiece.grade * 100"
        )
  .col-md-8
    .panel.panel-default.piece-panel(ng-class='{"panel-warning": ctrl.userPiece.waitingToBeGraded, "panel-success": ctrl.userPiece.grade && !ctrl.userPiece.waitingToBeGraded}')
      .video-submission-heading.panel-heading.piece-heading.clearfix(ng-if='ctrl.userPiece.submissionVideoURL')
        .pull-left
          span Click to submit a another video
        .pull-right
          gq-piece-status(user-piece='ctrl.userPiece')

      video.video-preview(controls)

    .panel.panel-default
      .panel-body
        h4 Teacher Feedback
        div(ng-repeat='historyItem in ctrl.userPiece.history')
          div <strong>Danny Nelson</strong> <em>{{ctrl.getTimeFromNow(historyItem.createdAt)}}</em>
          div {{historyItem.text}}

        //- BELOW THIS POINT ONLY FOR INSTRUCTORS
        textarea.form-control.comment(ng-model='ctrl.comment' placeholder='Leave a comment...')
        .btn.btn-block.btn-primary.control-btn(ng-click='ctrl.addComment()') Add Comment

  .col-md-4
    .panel.panel-default
      .panel-body.text-center.text-info
        h3.percent {{ctrl.percent}}%
        rating(
          ng-model='ctrl.userGrade'
          max='10'
          readonly='false'
          on-hover='ctrl.onHover(value)'
          on-leave='ctrl.onLeave()'
          state-on="'fa fa-star fa-2x'"
          state-off="'fa fa-star-o fa-2x'"
        )
        span.submit-grade-btn.btn.btn-default.btn-block(ng-click='ctrl.submitGrade()') submit
